.bg-custom{
    background-image: url(../img/bghome.png);
    background-size: cover;
  }
  .judul-preview{
    margin-top: -75px;
  }
  .previews-page{
    background-color: #009cc6;
  }
  #preview{
    background-color: #009cc6;
    font-family: Poppins;
  }
  #preview2{
    height: 660px;
    background-color: #009cc6;
    font-family: Poppins;
  }
  .head-preview{
    font-family: Poppins;
    font-size: large;
    font-weight: bold;
  }
  .content-nav-p1{
    width: 55px;
    margin-top: 10%;
  }
  .content-nav-p2{
    margin-top: 10%; 
    width: 55px;
  }
  .content-nav-p3{
    margin-top: 14%; 
    width: 55px;
  }
  .content-nav-p4{
      width: 68px;
  }
  .content-nav-p0{
    margin-top: 80px; 
    margin-left: 20px;
  }
  .popup{
      width: 200px;
  }
  .text-nav-p1{
    font-size: 8px; 
    margin-left: 8px;
  }
  .text-nav-p2{
    font-size: 8px; 
    margin-left: 14px;
  }
  .text-nav-p3{
    font-size: 8px; 
    margin-left: 14px;
  }
  #icon1, #icon2, #icon3{
    width: 22px; 
    height: 22px;
  }
  #panduan{
    margin-left: 10%;
  }
  /* .popup-profile{
      width: 200px;
      border-radius: 10px;
      background-color: white;
  } */
  .profile{
      bottom: 0;
  }
  #popup{
      margin-left: 80px;
      width: 200px;
  }
  
  #myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgba(33,56,62,0.6);
    cursor: pointer; 
    padding: 15px; 
    border-radius: 20px; 
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  .profile-rounded-navbar{
    border-radius: 50%;
  }
  .div-atur{
    margin-left: -20px;
  }