body{
  background-size: cover;
}
.blok-div{
  width: 38%;
  height: 360px;
  margin-top: 10%;
  margin-left: 80px;
}
p{
  font-family: roboto;
  font-weight: bold;
}
.form-forgot{
  width: 320px;
  height: 48px;
  border-radius: 12px;
  margin-top: 25px;
}
#email{
  width: 255px;
  border: 0px;
}
.custom{
  background-color: #08546C;
  border-radius: 10px;
  border: 0px solid #08546C;
  width: 140px;
  height: 33px;
  margin-left: 100px;
}
.custom:hover{
  background-color: #054457;
}
.img-ilustrasi{
  margin-left: 720px; 
}
