body{
    background-image: url(../img/bglogin.png);
    background-size: cover;
}

.logo{
    max-width: 160px;
}

#formlogin{
    margin-top: 200px;
}

.border{
    margin-top: 180px;
    max-width: 360px;
    height: 420px;
    /* background-color: white; */
    border-radius: 25px;
    /* box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25), inset 2px 1px 4px rgba(0, 0, 0, 0.25); */
}

.signin {
    font-family: poppins;
    font-size: 30px;
    margin-left: 25px;
    margin-top: 38px;
    color: #022534;
    text-decoration: underline;
}

.signup{
    font-family: poppins;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 38px;
    color: #022534;
    text-decoration: underline;
}

.in1::placeholder{
    color: #AAAAAA;
}

.in2::placeholder{
    color: #AAAAAA;
}


.in1, .in2{
    width: 90%; 
    border: 0px;
    font-family: ubuntu;
    color: #AAAAAA;
    
}

#btn{
    text-align: center;
    margin-top: 39px;
    align-items: center;
    color: white;
    background-color: #009CC6;
    border: 0px;
    border-radius: 6px;
    width: 200px;
    height: 34px;
}

.link{
    margin-top: 19px;
    color: #70CDE5;
    margin-left: 110px;
    text-decoration: underline;
}

#headimg{
    margin-left: 200px;
    width: 630px;
    height: 465px;
}

.image{
    top: 150px;
    right: 100px;
}