.output-card{
    background-image: url(../img/Previewbg.png);
    background-size: cover;
    width: 640px;
    height: 360px;
    margin-left: 25px;
    margin-top: 50px;
}

#project{
    font-family: poppins;
    letter-spacing: -1px;
    text-align: center;
    color: black;
}

#logo{
    margin-left: -75%;
    margin-top: 21px;
    width: 160px;
    height: 56px;
}

.nama, .pass{
    font-family: poppins;
    font-size: 17px;
    margin-left: 60px;
    color: black;
}

.scan{
    margin-top: -30px;
    margin-left: 421px;
    width: 90px;
    height: 82px;
}

.link{
    margin-left: 372px;
    font-size: 18px;
    font-family: poppins;
    color: black;
}

.foot{
    margin-left: 46px;
    text-align: left;
    color: black;
    
}

#whatssap, #gmail{
    font-size: 12px;
    margin-left: 5px;
       
}

#picwa{
    font-size: 12px;
    margin-left: 0px;
    width: 16px;
    height: 16px;
}

#picgmail{
    font-size: 12px;
    width: 16px;
    height: 16px;
}

