body{
    background-image: url(../img/bglogin.png);
    background-size: cover;
}

.logo{
    max-width: 160px;
}

.border{
    margin-top: 140px;
    max-width: 360px;
    height: 445px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25), inset 2px 1px 4px rgba(0, 0, 0, 0.25);
}

.hallo{
    font-family: poppins;
    font-size: 30px;
    text-align: center;
    margin-top: 8px;
}

.mail{
    border: 0px;
    margin-top: 10px;
    width: 80px;
}

.user{
    border: 0px;
    width: 120px;
    /* margin-top: 17px; */
}

.pass{
    border: 0px;
    margin-top: 19px;
}

.conpass{
    margin-top: 0px;
    border: 0px;
}

#btn{
    text-align: center;
    margin-top: 35px;
    align-items: center;
    color: white;
    background-color: #009CC6;
    border: 0px;
    border-radius: 6px;
    width: 200px;
    height: 34px;
    margin-left: 24px;
}

.link{
    margin-top: 19px;
    color: #70CDE5;
    text-align: center;
    text-decoration: underline;
}

#headimg{
    margin-left: 200px;
    width: 630px;
    height: 465px;
}

.image{
    top: 150px;
    right: 150px;
}